<div>
    <p><strong>First Name: </strong> {{profile?.givenName}}</p>
    <p><strong>Last Name: </strong> {{profile?.surname}}</p>
    <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
    <p><strong>Id: </strong> {{profile?.id}}</p>
</div>
<h4><button (click)="testGetAllPatients()">GetAllPatients</button></h4>
<h4><button (click)="testGetPatientsById()">GetPatientsById</button></h4>
<h4><button (click)="testPostPatient()">PostPatient</button></h4>
<h4><button (click)="testPutPatient()">PutPatient</button></h4>
<h4>Response backend: {{showPlainTextResponse()}}</h4>
